body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --button-space: 2rem;
  --card-size: 33.3333%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  width: calc(100% - 2 * var(--button-space));
  /* transform: translateX(-0.5%) ; */
  transition: transform 300ms ease-in-out;
}

.section {
  max-width: var(--card-size);
  width: var(--card-size);
  flex: 0 0 33.333333%;
  margin-left: 10px;
  margin-right: 10px;
}

.handle {
  width: var(--button-space);
  z-index: 10;
  background-color: white;
}

.full {
  width: 90%;
  margin: auto;
}
